<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CS50 Final Project: {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
  <script>
    function getWebSocketServer() {
      if (window.location.host === "memory-in-pairs.herokuapp.com") {
        return "wss://memory-in-pairs-ws.herokuapp.com/";
      } else if (window.location.host === "localhost:5000") {
        return "ws://localhost:5678/";
      } else {
        throw new Error(`Unsupported host: ${window.location.host}`);
      }
    }
  </script>
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
        <a href="https://flowbite.com" class="flex items-center">
          <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <div class="flex items-center">
          <a href="zwa.me/+5561991341099" class="mr-6 text-sm font-medium text-gray-500 dark:text-white hover:underline"> 🇧🇷 (55) 61 9134 1099</a>
          {% if session["user_id"] %}
            <a href="/logout" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">Logout</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <nav class="bg-gray-100 dark:bg-gray-700">
      <div class="max-w-screen-xl px-4 py-3 mx-auto md:px-6">
        <div class="flex items-center">
          <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
            <li>
              <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>

  <main class="container-fluid py-5 text-center container bg-gray-50 max-w-7xl mx-auto">
    <input type="hidden" name="userId" id="userId" value="{{ session["user_id"] }}" />
    <input type="hidden" name="userName" id="userName" value="{{ session["user_name"] }}" />
    <input type="hidden" name="userEmail" id="userEmail" value="{{ session["user_email"] }}" />
    {% block main %}{% endblock %}
  </main>

  <footer class="mb-5 small text-center text-muted py-6 ">
    by Leandro Ximenes
  </footer>


</body>

</html>