{% extends "layout.html" %}

{% block title %}
Room teste
{% endblock %}

{% block main %}
<div>
    <h1 class="text-lg font-bold mb-2" id="roomName">Room: {{ title }}</h1>
    <a href="/" class="small-btn mr-6 py-2">Leave room</a>
    <div class="grid grid-cols-11 gap-2 px-2 py-5">
        <div class="col-span-5 shadow-md bg-white py-2">
            <div class="text-lg font-bold pr-2 flex justify-end" id="player0">

            </div>
        </div>
        <div class="py-2">
            <h1 class="text-lg font-bold">Vs</h1>
        </div>
        <div class="col-span-5 shadow-md bg-white py-2">
            <div class="text-lg font-bold pr-2 flex justify-start" id="player1">
            </div>
        </div>
    </div>
    <div class="grid grid-cols-11 gap-2 px-2">
        <div class="col-span-5 shadow-md bg-white w-auto p-2" id="player0space">
            <div class="grid grid-cols-8 gap-2 px-2">
                <div class="col-span-7"></div>
                <div class="bg-gray-300 plus">+</div>
            </div>
        </div>
        <div></div>
        <div class="col-span-5 shadow-md bg-white w-auto p-2" id="player1space">
            <div class="grid grid-cols-8 gap-2 px-2">
                <div class="bg-gray-300 plus">+</div>
                <div class="col-span-7"></div>
            </div>
        </div>
    </div>
</div>
<script>
    // socket connection recived from webpack configurated and runing.
    // first default message is: "conected"
    // publicInfo => default broadcast message
    let roomName = document.querySelector("#roomName").innerHTML.replace('Room: ', '')
    socket.onmessage = ({ data }) => {
        const event = JSON.parse(data);
        switch (event.type) {
            case "conected":
                socket.send(JSON.stringify({ action: "enterRoom", roomName: roomName }));
                document.querySelector('#player0space .plus').addEventListener("click",
                    () => socket.send(JSON.stringify({ action: "addScore" }))
                );
                document.querySelector('#player1space .plus').addEventListener("click",
                    () => socket.send(JSON.stringify({ action: "addScore" }))
                );
                break
            case "publicInfo":
                let players = []
                if (players.length < 2) {
                    players = event.users.filter(user => user.room == roomName)
                }
                for (let i = 0; i < players.length; i++) {
                    setPlayer(players[i], i)
                }
                break
            default:
                console.error("unsupported event", event.type)
        }
    }

    function setPlayer(player, order) {
        let spanName = document.createElement("span")
        spanName.classList.add('mx-2');
        spanName.innerHTML = player.name;

        let spanScore = document.createElement("span")
        spanScore.classList.add('bg-gray-300', 'rounded-full', 'px-2')
        spanScore.innerHTML = player.score;

        let div = document.querySelector("#player" + order)
        div.innerHTML = ""
        if (order == 0) {
            div.append(spanName)
            div.append(spanScore)
        } else {
            div.append(spanScore)
            div.append(spanName)
        }
        
    }
</script>
{% endblock %}