<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server time</title>
</head>

<body>
    <h1>Server time</h1>
    <div id="sTime"></div>
    <h1>Browser time</h1>
    <div id="bTime" onload="currentTime()"></div>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            console.log(getWebSocketServer())
            const socket = new WebSocket(getWebSocketServer());
            socket.onmessage = ({ data }) => {
                document.getElementById("sTime").innerHTML = data
            };
            
        });

        function getWebSocketServer() {
            if (window.location.host === "memory-in-pairs.herokuapp.com") {
                return "wss://memory-in-pairs-ws.herokuapp.com/";
            } else if (window.location.host === "localhost:5000") {
                return "ws://localhost:5678/";
            } else {
                throw new Error(`Unsupported host: ${window.location.host}`);
            }
        }

        function currentTime() {
            let date = new Date();
            let d = date.getUTCDay();
            let m = date.getMonth();
            let y = date.getFullYear();
            let hh = date.getHours();
            let mm = date.getMinutes();
            let ss = date.getSeconds();
            let session = "AM";

            if (hh == 0) {
                hh = 12;
            }
            if (hh > 12) {
                hh = hh - 12;
                session = "PM";
            }

            hh = (hh < 10) ? "0" + hh : hh;
            mm = (mm < 10) ? "0" + mm : mm;
            ss = (ss < 10) ? "0" + ss : ss;

            let time = d + "/" + m + "/" + y + " " + hh + ":" + mm + ":" + ss + " " + session;

            document.getElementById("bTime").innerText = time;
            let t = setTimeout(function () { currentTime() }, 1000);
        }
        currentTime();
    </script>
</body>

</html>