<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS50 Final Project: Login</title>
    <link rel="stylesheet" href="{{url_for("static", filename="dist/css/output.css")}}">
</head>

<body>
    <main class="container-fluid py-5 text-center">
        <div class="flex flex-col items-center px-6 py-8 mx-auto">
            <div
                class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0   p-6 space-y-4 md:space-y-6 sm:p-8">
                <form action="/login" method="post" class="space-y-4 md:space-y-6 p-6">
                    {% if error %}
                        <div class="alert mb-0 text-center bg-red-300 rounded-lg py-5 " role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div>
                        <label for="email" class="label">Email</label>
                        <input type="email" name="email" id="email" class="text-input" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="email" class="label">Name</label>
                        <input type="text" name="name" id="name" class="text-input" required="">
                    </div>
                    <button type="submit" class="submit-btn">Sign in</button>
        
                    
                </form>
            </div>
        </div>
    </main>

    <footer class="mb-5 small text-center text-muted">
        by Leandro Ximenes
    </footer>
</body>

</html>